li {
	list-style: none;
	padding: 10px 0;
	margin: 10px;
	background-color: #baeefc;
	text-align: center;
}

button {
	cursor: pointer;
	display: block;
	width: 100%;
	min-height: 50px;
	margin-top: 25px;
	box-shadow: none;
	border: none;
	background: -moz-radial-gradient(center, ellipse cover, rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
	background: radial-gradient(ellipse at center, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=1 );
}

.Card {
	width: 100%;
	font-size: 20px;
}

ul {
	display: -webkit-inline-box;
	padding: 0;
}

p {
	margin: 10px;
}